@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=IBM+Plex+Serif:wght@400;600;700&display=swap');

@import 'primeflex/primeflex.scss';
@import 'style/utilities.scss';
@import 'iconBrewIcons.scss';

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

p{
  margin: 0px;
}

a{
  text-decoration: none;
  color: inherit;
}

$buttonPadding: 5rem 10rem !important;

$primary-color: #1F262F;
// $primary-color: #E0D9D0;

$main-blue: #76ADF1;

// $secondary-color: #D4CDC2;
$secondary-color: #2B323D;

// $tertiary-color: #C0B4A4;
$tertiary-color: #3f4b5b99;

$tertiary-color-hover: #3f4b5b;
// $tertiary-color-hover: rgba(63, 75, 91, 1);

$main-border-radius: 8px;
$secondary-border-radius: 6px;

$border-main: 1px solid $tertiary-color;
$border-main-hover: 1px solid $tertiary-color-hover ;

$outline-white: 1px solid white;

$main-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
$secondary-shadow: 0px 3px 5px 0px #0000001A !important;
$secondary-shadow-hover: 0px 12px 20px -10px rgba(0, 0, 0, 0.5) !important;

:root{
  --primary-color: #20262E !important;
}

body{
  margin: 0px;
  background: $primary-color;
  font-family: 'IBM Plex Serif', serif !important;
  color: white;
}

button{
  border: none;
  color: inherit;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

img{
  transition: 0.3s;
}

.serif{
  font-family: 'IBM Plex Serif', serif !important;
}

.sans{
  font-family: 'IBM Plex Sans', sans-serif !important;
}

.contents{
  display: contents;
}

.page-wrapper{
  max-width: 1320px;
  // max-width: 1600px;
  width: 95%;
  margin: auto;
}

.page-wrapper-large{
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.nav-bar{
  @extend .page-wrapper-large;
  padding: 28px 22px;
}

.top-nav-bar{
  @extend .nav-bar;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  position: sticky;
  top: 0px;
  z-index: 9;
  background: $primary-color;

  .justify-end{
    justify-self: self-end;
  }

  .justify-start{
    justify-self: self-start;
  }
}

.nav-bar-page-links{
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.nav-bar-footer{
  @extend .nav-bar;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 42px;
  // position: absolute;
  // bottom: 0px;

  a{
    text-decoration: none;
    color: #93C5FD;

    &:hover{
      text-decoration: underline;
    }
  }
}

.icon-brew-logo-wrapper{
  display: flex;
  flex-direction: row;

  text-decoration: none !important;
}

.icon-brew-logo-text{
  font-size: 1.15rem;
  font-weight: 700;
  color: white;
  margin: 0px
}

// .icon-brew-logo-wrapper-horizontal-sm{
  .icon-brew-logo-wrapper-horizontal{
  @extend .icon-brew-logo-wrapper;

  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon-brew-logo-wrapper-vertical{
// .icon-brew-logo-wrapper-vertical-xl{
  @extend .icon-brew-logo-wrapper;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 12px;

  .icon-brew-logo-text{
    font-size: 2.25rem;
  }
}

.nuxt-link{
  color: white;
  text-decoration: none;
  transition: 0.2s;
  font-size: 1rem;
  // font-size: 1.15rem;

  &:hover{
    text-decoration: underline;
  }

}

.main-layout-wrapper{
  display: grid;

  // UNCOMMENT
  // grid-template-columns: 212px auto;
  grid-template-columns: auto;

  gap: 18px;
  padding-top: 22px;
  transition: 0.3s;
}


.main-layout-wrapper-extended{
  grid-template-columns: 212px auto 242px !important;
}


.main-content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 18px 0px;
}

.content-card{
  border-radius: $main-border-radius;
  box-shadow: $main-shadow;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.content-card-primary{
  @extend .content-card;

  border: $border-main;
  box-shadow: $secondary-shadow;
  background: $primary-color;

  &:hover{
    box-shadow: $secondary-shadow-hover;
    border: $border-main-hover;
    cursor: pointer;
    transform: translateY(-1px);
  }
}

.content-card-secondary{
  @extend .content-card;

  background: $secondary-color;
}

.content-area{
  display: grid;

  // UNCOMMENT
  // grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(9, 1fr);

  gap: 12px;
  width: 100%;
  padding: 18px;
  z-index: 0;
}

.icon-card-wrapper{
  @extend .content-card-primary;

  padding: 0px;
  display: flex;
  // gap: 32px;
  // padding: 28px 21px 21px;

  p{
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    opacity: 0.7;
    text-transform: capitalize;
  }
}

.icon-card-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 16px;
  gap: 8px;
  margin: auto;
}

.break-word{
  word-break: break-word;
}

.page-enter-active,
.page-leave-active{
    transition: .15s;
}

.page-enter{
    opacity: 0;
    transform: translateY(10px);
}

.page-leave-active{
    opacity: 0;
    transform: translateY(-10px);
}

.no-icons-msg{
  width: 100%;
  text-align: center;
  // padding-right: 242px;
}

.clear-search-btn{
  opacity: 0.5;
  cursor: pointer;
  transform: translateY(-50%);
  right: 0.75rem;
  margin: 0px !important;

  &:hover{
    opacity: 1;
  }
}

.icon-image-18{
  width: 18px;
  height: 18px;
}

.icon-image-24{
  width: 24px;
  height: 24px;
}

.icon-image-28{
  width: 28px;
  height: 28px;
}

.hero-logo{
  width: 28px;
}

.sticky-shadow{
  box-shadow: -1px 10px 16px -3px #191e24ab;
}

.top-card-action-wrapper-right{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.search-bar-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  z-index: 9;
  // overflow: hidden;
  position: sticky;
  top: 50px;
  background: $primary-color;
  padding-top: 28px;
  padding-bottom: 18px;

  .p-dropdown{
    min-width: 110px;
  }
}

.options-wrapper{
  display: flex;
  gap: 18px;
}

.weight-input-wrapper{
  // display: grid;
  width: 80px
}

.input-search{
  @include styleclass('w-11');

  height: 43px;
  max-width: 620px;

  input{
    @include styleclass('shadow-3');
    width: 100%;
    height: 100%;

    &:focus{
      @include styleclass('shadow-6');
    }
  }
}

.switch-with-title-horizontal{
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  @extend .sans;
}

.hero-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 48px;
  max-width: 520px;
  text-align: center;

  img{
    width: 89px;
  }
}

.hero-btns-wrapper{
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;

  padding-top: 28px;
}


//// text utils
.text-4_5xl{
  font-size: 2.25rem;
}

.vertical-hr{
  width: 1px;
  height: 1rem;
  margin: 0px 8px;
}

.sticky-side-bar{
  position: sticky;
  top: 180px;
}

.category-side-bar-wrapper{
  @extend .content-card-secondary;

  display: flex;
  flex-direction: column;
  gap: 4px;

  height: fit-content;
  width: 100%;
  max-height: calc(98vh - 100px);
  padding: 24px;
  // padding: 14px 10px;
  z-index: 2;
}

.side-bar-title{
  @include styleclass('text-base font-semibold pb-3');
}

.category-item-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  width: 100%;
  white-space: nowrap;
  padding: 8px 14px;
  height: fit-content;
  transition: 0.2s;
  border-radius: 8px;
  cursor: pointer;

  &:hover{
    background: $tertiary-color;
  }

  &:focus{
    outline: $outline-white;
    background: $tertiary-color;
  }
}

.category-item-selected{
  background: $tertiary-color;
}

.category-item-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.category-item-number{
  font-weight: 400;
  opacity: 0.7;
}

.icon-brew-icon{
  display: inline-flex;
  height: fit-content;

}

.p-button{
  border-radius: 24px !important;
}

.border-image{
  border: 1px solid #3F4B5B;
  border-radius: 8px;
  box-shadow: 0px 22px 30px -10px rgba(0, 0, 0, 0.4);
}

.article-img{
  position: relative;
  width: 120%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  @extend .border-image;
}

.ib-heart{
  background: red;
  height: 100px;
  width: 100px;
}


.md-article-body{
  max-width: 620px;
  width: 80%;
  margin: auto;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 160%;
  font-weight: 400;

  .article-body-img{
    margin-bottom: 48px;

    @extend .article-img;
  }

  p{
    margin-bottom: 28px;
  }

  a{
    color: $main-blue;
    text-decoration: underline;
  }

}

@media screen and (max-width: 1350px){
  .content-area{
    // UNCOMMENT
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 1150px){
  .content-area{
    // UNCOMMENT
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1080px){

  .content-area{
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (max-width: 760px){
  .main-layout-wrapper{
    grid-template-columns: 1fr;
  }

  .content-area{
    grid-template-columns: repeat(2, 1fr);
    padding: 12px;
  }

  .page-wrapper{
    width: 87%;
  }

  .search-bar-wrapper{
    width: 87%;
    margin: auto;
  }

  .category-side-bar-wrapper{
    flex-direction: row;
    overflow-x: scroll;
    top: 145px;
    margin: auto;
    width: 95%;
  }

}
